<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/main}">
<head>
<title>SFJ - Minden napra egy sztori</title>
</head>
<body>

    <div layout:fragment="loginContent">

        <form name="registration" th:action="@{/adminreg}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Első admin regisztráció</h2>
                <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Teljes név" required="true" /> 
                <!--<input type="text" id="email" name="username" th:field="*{email}" class="form-control" placeholder="E-mail cím" />--> 
                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail cím" required="true" /> 
                <!--<input type="text" id="email" name="email" class="form-control" placeholder="E-mail cím" value="huggy.bear@freemail.hu"/>--> 
                <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Regisztráció</button>
                <a href="auth/login">Bejelenkezés</a>
        </form>

    </div>

</body>
</html>