<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
    <title>SFJ - Minden napra egy sztori</title>
    <meta http-equiv="Refresh" content="0; url=/restart" />
</head>
<body>

    <div layout:fragment="loginContent">

            <h2 class="form-signin-heading">Alkalmazás újraindul ...</h2>
            <div class="alert alert-success">
                Az első admin regisztrálva<br>
                Frissítgesd az oldalt, mígnem a bejelentkező oldalt látod.
                Első bejelentkezés az első adminnal történjen!
            </div>
    </div>

</body>
</html>