<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
    <head>
        <title>SFJ - Minden napra egy sztori</title>
    </head>
    <body>

        <div layout:fragment="content">

            <div class="alert alert-success">
                Az első admin regisztrálva és loginja megerősítve.<br>
                Újraindulás <span id="timer">-5</span> másodperc múlva.
            </div>
        </div>

        <th:block layout:fragment="script">
            <script type="text/javascript" src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
            <script type="text/javascript">
                countDown(5, "http://localhost:8080/");
            </script>
        </th:block>
    </body>
</html>